<header class="flex-row">
  <p class="header-welcome">Hi, {{ name }}!</p>
  <span class="header-options flex-row">
    <p (click)="showModal()">+Add note</p>
    <p (click)="signOut()">Sign out</p>
  </span>
</header>

<main class="flex-row">
  <aside #notes>
    <div *ngFor="let note of userNotes" class="container-notes flex-column" >
      <div class="note">
        <div id="note-text" class="noteList-text flex-column">
          <h3 class="noteList-title">{{note.title}}</h3>
          <p class="noteList-content twenty-chars">{{note.content}}</p>
        </div>
      </div>
    </div>
  </aside>
  <section>
    <div class="display-note flex-column">
      <textarea class="display-title" disabled>{{titleToBeDisplayed}}</textarea>
      <div class="separator"></div>
      <textarea class="display-content" disabled>{{contentToBeDisplayed}}</textarea>
    </div>
    <div class="btn-section flex-column">
      <img src="./assets/icons/edit.png" alt="Edit button" (click)="openModalToModify()">
      <img src="./assets/icons/bin.png" alt="Delete button" (click)="deleteNote()">
    </div>
  </section>
  <dialog #addNoteModal>
    <div class="dialog">
      <div class="container-modal flex-column">
        <input type="text" class="note-title" placeholder="Add a title..." autofocus #title>
        <textarea cols="30" rows="10" class="note-content" placeholder="Add some content..." #content></textarea>
        <button type="button" class="btn-closeModal" (click)="addNote(title.value, content.value)" #btnCloseModal></button>
      </div>
    </div>
  </dialog>
</main>
