.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Style for header */

header {
  background: #6030DA;
  color: #fff;
  justify-content: space-between;
  height: 12vh;
  padding: 0px 30px 0px 30px;
}

.header-welcome {
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.header-options {
  gap: 50px; 
  font-weight: 700;
  font-size: 24px;
}

/* Style for list of notes */

aside {
  background: #EFEFEF;
  width: 30vw;
  height: 88vh;
  overflow-y: scroll;
}

.container-notes {
  width: 100%;
  padding: 0px 20px;
  
}

.note {
  padding: 20px;
  border-bottom: 2px solid #9F9F9F;
}

.note-text {
  padding: 20px 10px;
  gap: 5px;
}

aside h3 {
  font-size: 20px;
}

aside p {
  font-size: 20px;
  font-weight: 400;
  color: #9F9F9F;
}

/* Styles for note display */

section {
  width: 70vw;
  height: 88vh;
  padding: 40px;
  position: relative;
}

.display-note {
  gap: 20px;
}

section h1 {
  font-size: 40px;
  color: #D98E45;
}

section p {
  font-size: 20px;
}

section img {
  width: 60px;
  height: 60px;
}

.btn-section {
  position: absolute;
  gap: 10px;
  bottom: 5%;
  right: 5%;
}

/* Style for modal to add note */

.dialog {
  background: rgba(159, 159, 159, 0.49);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 16px;
  z-index: 9999;
}

.container-modal {
  left: 40%;
  width: 720px;
  height: 420px;
  background: #fff;
  border: none;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

dialog:not([open]) {
  display: none;
}

dialog input, dialog textarea {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #9F9F9F;
  padding: 15px;
}

.note-title {
  font-size: 32px;
  color: #D98E45;
  font-weight: 700;
}

.note-title::placeholder {
  font-size: 32px;
  color: #D98E45;
  font-weight: 700;
  vertical-align: center;
}

.note-content {
  font-size: 20px;
  color: #000;
  resize: none;
}

.btn-closeModal {
  height: 40px;
  width: 130px;
  border-radius: 30px;
  background: #D98E45;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.twenty-chars {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}