<section class="container-signup flex-column">
  <div class="logo">Note_</div>
  <form class="flex-column">
    <div class="inputs flex-column">
      <span class="flex-row">
        <img src="./assets/icons/usuario.png">
        <input type="text" placeholder="Your user" autofocus>
      </span>
      <span class="flex-row">
        <img src="./assets/icons/email.png">
        <input type="text" placeholder="Your email">
      </span>
      <span class="flex-row">
        <img src="./assets/icons/lock.png">
        <input type="password" placeholder="Create password">
      </span>
    </div>
    <button>Sign up</button>
  </form>
  <div class="for-signin">Already have an account? <a href="/login">Sign in.</a></div>
</section>